<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.opensixen.osgi.interfaces.IMenuAction" name="IMenuAction" schema="schema/org.opensixen.osgi.interfaces.IMenuAction.exsd"/>
   <extension-point id="org.opensixen.osgi.interfaces.IMenuInfoComponent" name="IMenuInfoComponent" schema="schema/org.opensixen.osgi.interfaces.IMenuInfoComponent.exsd"/>
   <extension-point id="org.opensixen.osgi.interfaces.IHelperContentProvider" name="IHelperContentProvider" schema="schema/org.opensixen.osgi.interfaces.IHelperContentProvider.exsd"/>
   <extension-point id="org.opensixen.osgi.interfaces.IAccountViewer" name="IAccountViewer" schema="schema/org.opensixen.osgi.interfaces.IAccountViewer.exsd"/>
   <extension-point id="org.opensixen.osgi.interfaces.IVPAttributeDialog" name="org.opensixen.osgi.interfaces.IVPAttributeDialog" schema="schema/org.opensixen.osgi.interfaces.IVPAttributeDialog.exsd"/>
   <extension-point id="org.opensixen.osgi.interfaces.IAppsAction" name="org.opensixen.osgi.interfaces.IAppsAction" schema="schema/org.opensixen.osgi.interfaces.IAppsAction.exsd"/>
   <extension-point id="org.opensixen.osgi.interfaces.IPAttributeInstance" name="org.opensixen.osgi.interfaces.IPAttributeInstance" schema="schema/org.opensixen.osgi.interfaces.IPAttributeInstance.exsd"/>

</plugin>
